h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
body {
    background-color: gray;
    background-image: url("../images/skulls.png");
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
}
section {
    background-color: white;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    margin: 20px;
}
.left-section {
    width: 70%;
    float: left;
    overflow: visible;
}
.right-section {
    width: 20%;
    float: left;
    text-align: center;
}
nav {
    background-color: #ffffff;
    padding: 10px;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
}

h2, h3 {
    color: #4aaaa5;
    margin: 10px;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
.nav-links {
    float: right;
    margin-right: 150px;
}
li {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 0px 10px 0px;
}
.main-header {
    background-color: teal;
    color: white;
    width: 300px;
    left: 0px;
    top: 10px;
    text-align: center;
    height: 50px;
    float: left;
    margin-right: 300px;
    margin-left: 170px;
    padding-top: 10px;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.35, 1.44);
    transform: none;
    z-index: 100;
    position: fixed;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #666666;
    text-align: center;
    clear: both;
    border-top-color: teal;
    border-top-width: 5px;
    border-top-style: solid;
    line-height: 50px;
}
#my-pic {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.icon-contanier {
    text-align: center;
}
.icons {
    margin: auto;
}
.icons img {
    margin: 10px;
}
.content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.all {
    margin-bottom: -55px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin: 10px;
}
p {
    line-height: 1.5;
    margin: 10px;
}
a:visited {
    text-decoration: none;
    color: #777777
}
a {
    text-decoration: none;
    color: #777777
}
#portfolio {
    border-left-color: grey;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: grey;
    border-right-style: solid;
    border-right-width: 1px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
/* This is all of the form styling */
label {
    display: block;
    margin: 10px;
    width: 70%;
}
input {
    display: block;
    margin: 10px;
    width: 95%;
}
textarea {
    display: block;
    margin: 10px;
    width: 95%;
}
button {
    background-color: teal;
    margin: 10px;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

/* this is the portfolio styling */
.img-title {
    position: relative;
    bottom: 70px;
    background-color: teal;
    opacity: 0.75;
    padding: 20px;
    color: white;
    text-align: center;
}
.image-container{
    overflow: hidden;
    height: 200px;
    width: 300px;
    padding: 18px;
    margin: 0px;
    float: left;
    cursor: pointer;

}
/* header fix and rotate classes */
.fix {
    position: fixed;
    transform: rotate(-90deg);
    top: 120px;
    left: -290px;
    width: 300px;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.35, 1.44);
}